# Name: NanoTrackJ
# Author: Thorsten Wagner

Plugins>NTA, "NanoTrackJ", de.biomedical_imaging.ij.nanotrackj.NanoTrackJ_
#Plugins>NTA, "SingleTrack", de.biomedical_imaging.ij.SingleTrack.SingleTrack_
Plugins>NTA, "MSD Analyser", de.biomedical_imaging.ij.msdanalyzer.MSDAnalyzer_
Plugins>NTA, "Remove Background", de.biomedical_imaging.ij.removebackground.RemoveBackground_